version: '3.8'

services:
  false2true-proxy:
    build: .
    image: ghcr.io/sakuranekooo/false2true-proxy:latest
    container_name: false2true-proxy
    ports:
      - "8080:8080"
    environment:
      - MITMPROXY_VERBOSE=false
    command: ["-s", "mitm_false2true.py", "--listen-host", "0.0.0.0"]
